---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data="{pizzaImage: $fetchjson('https://dummyjson.com/recipes/1', jsonItem='image')}">
	<img alt="thumbnail" x-bind:src="pizzaImage" />
</div>