body {
    font-family: Helvetica, sans-serif;
    color: #212431;
    background: #9EEEEE;
    padding: 0 40px;
    text-align: center;
}

section{
    background:#F2F2F2;
    margin: 16px;
    padding: 16px;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}